  <nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color:#fffcf9;">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <a class="py-2" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
      <li class="nav-item active ml-3">
        <%= link_to "#{current_user.nickname}", "/users/#{current_user.id}", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
      </li>
      <li class="nav-item">
        <%= link_to "新規投稿", new_tweet_path, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item active">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      </li>
    <% end %>
    </ul>
    <%= form_with(url: search_tweets_path, class: "form-inline my-2 my-lg-0", local: true, method: :get) do |f|%>
      <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "form-control mr-sm-2" %>
      <%= f.submit "検索", class: "btn btn-outline-secondary my-2 my-sm-0" %>
    <% end %>
  </div>
  </nav>