<%= render "shared/header" %>

<div class="position-relative" style="top:100px">
  <%= form_with model: @user, url: user_session_path, class: "container", local: true do |f| %>
    <div class="alert alert-dark mb-5" role="alert">メールアドレス：qq＠qq   パスワード：qqqqqq1 でログインしていただけます</div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス"%><span class="badge badge-danger ml-2">必須</span><br />
      <%= f.email_field :email, placeholder: "メールアドレスを入力してください", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード"%><span class="badge badge-danger ml-2">必須</span><br />
      <%= f.password_field :password, placeholder: "パスワードを入力してください", class: "form-control" %>
    </div>
    <button type="submit" class="btn btn-primary">送信</button>
  <% end %>
</div>

<footer class="footer mt-auto py-3 bg-secondary position-relative" style="top:350px" >
  <div class="container">
    <div><%=link_to "いのちと暮らしの相談ナビ (外部サイト)", 'http://lifelink-db.org/', target: "_blank", class: "text-light mr-5" %></div>
    <div><%=link_to "よりそいチャット (外部サイト)", 'https://yorisoi-chat.jp/', target: "_blank", class: "text-light"%></div>
    <p>Copyright place. All rights reserved.</p>
  </div>
</footer>